Babel==2.11.0
Bottleneck==1.3.5
Brotli==1.0.9
CacheControl==0.13.1
Farama-Notifications==0.0.4
Flask-Cors==4.0.1
Flask==3.0.3
GitPython==3.1.43
Jinja2==3.1.2
Markdown==3.5.1
MarkupSafe==2.1.1
Pillow==10.0.1
PyJWT==2.4.0
PyQt5-sip==12.13.0
PyQt5==5.15.10
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.16.1
QtPy==2.2.0
Send2Trash==1.8.2
Werkzeug==3.0.1
absl-py==2.0.0
accelerate==0.30.1
adamp==0.3.0
aiohttp==3.9.5
aiosignal==1.3.1
anaconda-anon-usage==0.4.3
anaconda-client==1.12.1
anaconda-cloud-auth==0.1.4
anaconda-navigator==2.5.0
anaconda-project==0.11.1
ansicon==1.89.0
anyio==3.5.0
archspec==0.2.1
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
autograd==1.5
autograd==1.6.2
backoff==2.2.1
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
beartype==0.18.5
beautifulsoup4==4.12.2
bleach==4.1.0
blessed==1.19.1
blinker==1.8.2
boltons==23.0.0
boto3==1.33.13
botocore==1.33.13
branca==0.7.2
build==1.0.3
cachetools==5.3.2
certifi==2024.2.2
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
cleo==2.1.0
click-plugins==1.1.1
click==8.1.7
cligj==0.7.2
cloudpickle==3.0.0
clyent==1.2.2
cma==3.3.0
colorama==0.4.6
comm==0.1.4
conda-build==3.27.0
conda-content-trust==0.2.0
conda-libmamba-solver==23.9.3
conda-pack==0.6.0
conda-package-handling==2.2.0
conda-repo-cli==1.0.75
conda-token==0.4.0
conda-verify==3.4.2
conda==23.9.0
conda_index==0.3.0
conda_package_streaming==0.9.0
contourpy==1.0.5
crashtest==0.4.1
croniter==1.4.1
cryptography==41.0.3
cycler==0.11.0
datasets==2.19.1
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
deepdiff==6.7.1
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
docker-pycreds==0.4.0
docutils==0.21.2
dulwich==0.21.3
ema-pytorch==0.4.8
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.99.1
fastjsonschema==2.19.0
filelock==3.13.1
fiona==1.9.6
flatbuffers==23.5.26
folium==0.16.0
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2023.9.2
future==0.18.3
gast==0.4.0
geohash2==1.1
geopandas==0.14.4
gitdb==4.0.11
google-auth-oauthlib==1.0.0
google-auth==2.23.4
google-pasta==0.2.0
grpcio==1.59.2
gymnasium==0.29.1
h11==0.14.0
h5py==3.10.0
huggingface-hub==0.23.2
idna==3.4
importlib-metadata==6.0.0
inquirer==3.1.4
installer==0.7.0
ipykernel==6.28.0
ipython-genutils==0.2.0
ipython==8.17.2
ipywidgets==8.0.4
itsdangerous==2.1.2
jaraco.classes==3.2.1
jax==0.4.19
jedi==0.19.1
jinxed==1.2.1
jmespath==1.0.1
joblib==1.2.0
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.1
jsonschema-specifications==2023.7.1
jsonschema==4.19.2
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter==1.0.0
jupyter_client==8.5.0
jupyter_core==5.3.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.9
jupyterlab==4.0.8
jupyterlab_server==2.25.1
keras==2.12.0
keyring==24.3.0
kiwisolver==1.4.4
libarchive-c==2.9
libclang==16.0.6
libmambapy==1.5.3
lightning-cloud==0.5.57
lightning-utilities==0.10.0
lightning==2.1.2
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.8.0
mdurl==0.1.0
menuinst==1.4.19
mistune==2.0.4
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
ml-dtypes==0.3.1
more-itertools==8.12.0
mpmath==1.3.0
msgpack==1.0.3
multidict==6.0.5
multiprocess==0.70.16
munkres==1.1.4
mysqlclient==2.2.0
navigator-updater==0.4.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numexpr==2.8.7
numpy==1.23.5
numpy==1.26.0
oauthlib==3.2.2
opencv-python==4.8.1.78
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.10
overrides==7.4.0
packaging==23.1
pandas==2.1.1
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pip==23.3
pkce==1.0.3
pkginfo==1.9.6
platformdirs==3.10.0
pluggy==1.0.0
ply==3.11
poetry-core==1.8.1
poetry-plugin-export==1.6.0
poetry==1.7.1
polars==0.20.25
prometheus-client==0.14.1
prompt-toolkit==3.0.39
protobuf==4.25.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyOpenSSL==23.2.0
pyarrow-hotfix==0.6
pyarrow==16.1.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycosat==0.6.6
pycparser==2.21
pydantic==1.10.12
pygame==2.5.2
pyparsing==3.0.9
pyproj==3.6.1
pyproject_hooks==1.0.0
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-editor==1.0.4
python-json-logger==2.0.7
python-multipart==0.0.6
pytorch-lightning==2.1.2
pytz==2023.3.post1
pywin32-ctypes==0.2.0
pywin32==305.1
pywinpty==2.0.10
pyzmq==25.1.0
qtconsole==5.4.2
rapidfuzz==3.5.2
readchar==4.0.5.dev0
referencing==0.30.2
regex==2023.10.3
regex==2024.4.16
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
riseml==0.3.9
rpds-py==0.10.6
rsa==4.9
ruamel-yaml-conda==0.17.21
ruamel.yaml==0.17.21
s3transfer==0.8.2
safetensors==0.4.3
scikit-learn==1.2.2
scipy==1.11.3
scipy==1.11.3
seaborn==0.13.0
semver==2.13.0
sentry-sdk==2.1.1
setproctitle==1.3.3
setuptools==68.2.2
setuptools==68.2.2
shapely==2.0.4
shellingham==1.5.4
sip==6.7.12
six==1.16.0
smmap==5.0.1
sniffio==1.2.0
soupsieve==2.5
stack-data==0.6.2
starlette==0.27.0
starsessions==1.3.0
statsmodels==0.14.0
sympy==1.11.1
sympy==1.12
tensorboard-data-server==0.7.2
tensorboard==2.12.3
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==2.2.0
tinycss2==1.2.1
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.3
torch==2.2.2+cu121
torchaudio==2.2.2
torchaudio==2.2.2
torchmetrics==1.2.1
torchtext==0.17.2
torchvision==0.17.2
torchvision==0.17.2
tornado==6.3.3
tqdm==4.65.0
traitlets==5.7.1
transformers==4.41.2
trove-classifiers==2023.11.29
truststore==0.8.0
types-python-dateutil==2.8.19.14
typing_extensions==4.11.0
typing_extensions==4.7.1
tzdata==2023.3
ufal.pybox2d==2.3.10.2
ujson==5.4.0
urllib3==1.26.18
uvicorn==0.24.0.post1
virtualenv==20.25.0
wandb==0.17.0
wcwidth==0.2.9
webencodings==0.5.1
websocket-client==0.58.0
websockets==10.4
wheel==0.41.2
widgetsnbextension==4.0.5
win-inet-pton==1.1.0
wrapt==1.14.1
xxhash==3.4.1
xyzservices==2024.4.0
yarl==1.9.4
zipp==3.11.0
zstandard==0.19.0